---
import BaseLayout from "./BaseLayout.astro";
import { Markdown } from "astro-remote";

const frontmatter = Astro.props;
// const { Content } = await frontmatter.car.article.markdown.render()
---

<style>
  .car-main-image {
    max-width: 100%;
    height: auto;
    padding: 1rem;
  }
</style>

<BaseLayout pageTitle={frontmatter.car.title}>
  <!-- <p>{frontmatter.car.pubDate.toString().slice(0, 10)}</p> -->
  {
    frontmatter.car.carMainImage && frontmatter.car.carMainImage.url ? (
      <img
        src={frontmatter.car.carMainImage.url}
        alt={frontmatter.car.carMainImage.alt}
        class="car-main-image"
      />
    ) : null
  }
  <p><em>{frontmatter.car.description}</em></p>
  <hr />
  <!-- <p>Written by: {frontmatter.author}</p> -->
  <article>
    {
      frontmatter.car.article && frontmatter.car.article.markdown ? (
        <Markdown content={frontmatter.car.article.markdown} />
      ) : null
    }
  </article>
  <!-- <Content /> -->
  <!-- <div class="tags">
        {
            frontmatter.tags.map((tag: string) => (
                <p class="tag">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div> -->

  <slot />
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }


  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
